*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 220, 214);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    border: 4px solid rgb(233, 228, 219);
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(185, 215, 205);
    border-radius: 20px;
    box-shadow: 0 0 20px;
}

.hero{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(110, 31, 184);
    border-radius: 18px 18px 0px 0px;
}

.hero h2{
    color: antiquewhite;
    margin-bottom: 20px;
    font-size: 22px;

}

#input-el{
    color: antiquewhite;
    background-color: rgb(110, 31, 184);
    width: 90px;
    height: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    border: none;
    border: 1px solid rgb(167, 142, 142);
    border-radius: 5px;
}

#convert-btn{
    padding: 8px 20px;
    font-weight: 600;
    background-color: rgb(207, 202, 212);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#convert-btn:hover{
    background-color: rgb(216, 207, 227);
    transition-duration: 0.2s;
    scale: 1.04;
}

.con-sec div{
    /* border: 1px solid; */
    margin: 20px;
    padding: 20px 5px;
    background-color:  rgb(193, 224, 214);
    border-radius: 3px;

}

.para{
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(44, 74, 100);
}

.pd{
    font-size: 12px;
    color: rgb(48, 49, 49);
    font-weight: 550;
}